.root {
    display: flex;
    width: 1000px;
    height: 300px;
    border: solid 1px #3355D0;
    padding: 20px;
    margin: 100px auto;
    justify-content: space-between;
}
.child_1 {
    display: flex;
    width: 450px;
    border: solid 1px #378de5;
    padding: 20px;
    justify-content: space-between;
}
.child_2 {
    display: flex;
    width: 175px;
    border: solid 1px red;
    padding: 20px;
    justify-content: space-between;
}
.child_3 {
    width: 75px;
    border: solid 1px green;
}